@if (images) {
	<ngb-carousel class="hero-profile">
		<ng-template ngbSlide>
			<h3>First slide label</h3>
			<div class="picsum-img-wrapper hero-profile_info">
				<img [src]="images[0]" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<img src="../../assets/teams/1.png" class="team_logo" alt="">
				<img src="../../assets/positions/mc.png" class="team_logo" alt="">
				<div class="hero-profile_tags">
					<p class="hero-profile_tag">Posición</p>
					<p class="hero-profile_tag">Active</p>
					<p class="hero-profile_tag">Title Holder</p>
        		</div>
				<div class="hero-profile_division">
					<p class="hero_data">dato1</p>
					<p class="hero_data">dato2</p>
					<p class="hero_data">dato3</p>
					<p class="hero_data">dato4</p>
				</div>
				<div class="hero-profile_stats">
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">5</p>
						<p class="hero-profile_stat-text">Goals</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">8</p>
						<p class="hero-profile_stat-text">Assists</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">129</p>
						<p class="hero-profile_stat-text">Points</p>
					</div>
				</div>
				<div class="acciones_player">
					<button>Fichar</button>
				</div>

				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<h3>Second slide label</h3>
			<div class="picsum-img-wrapper hero-profile_info">
				<img [src]="images[1]" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<img src="../../assets/teams/1.png" class="team_logo" alt="">
				<img src="../../assets/positions/mc.png" class="team_logo" alt="">
				<div class="hero-profile_tags">
					<p class="hero-profile_tag">Posición</p>
					<p class="hero-profile_tag">Active</p>
					<p class="hero-profile_tag">Title Holder</p>
				</div>
				<div class="hero-profile_division">
					<p class="hero_data">dato1</p>
					<p class="hero_data">dato2</p>
					<p class="hero_data">dato3</p>
					<p class="hero_data">dato4</p>
				</div>
				<div class="hero-profile_stats">
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">5</p>
						<p class="hero-profile_stat-text">Goals</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">8</p>
						<p class="hero-profile_stat-text">Assists</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">129</p>
						<p class="hero-profile_stat-text">Points</p>
					</div>
				</div>
				<div class="acciones_player">
					<button>Fichar</button>
				</div>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<h3>Third slide label</h3>
			<div class="picsum-img-wrapper hero-profile_info">
				<img [src]="images[2]" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<img src="../../assets/teams/1.png" class="team_logo" alt="">
				<img src="../../assets/positions/mc.png" class="team_logo" alt="">
				<div class="hero-profile_tags">
					<p class="hero-profile_tag">Posición</p>
					<p class="hero-profile_tag">Active</p>
					<p class="hero-profile_tag">Title Holder</p>
				</div>
				<div class="hero-profile_division">
					<p class="hero_data">dato1</p>
					<p class="hero_data">dato2</p>
					<p class="hero_data">dato3</p>
					<p class="hero_data">dato4</p>
				</div>
				<div class="hero-profile_stats">
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">5</p>
						<p class="hero-profile_stat-text">Goals</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">8</p>
						<p class="hero-profile_stat-text">Assists</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">129</p>
						<p class="hero-profile_stat-text">Points</p>
					</div>
				</div>
				<div class="acciones_player">
					<button>Fichar</button>
				 </div>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<h3>Third slide label</h3>
			<div class="picsum-img-wrapper hero-profile_info">
				<img [src]="images[3]" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<img src="../../assets/teams/1.png" class="team_logo" alt="">
				<img src="../../assets/positions/mc.png" class="team_logo" alt="">
				<div class="hero-profile_tags">
					<p class="hero-profile_tag">Posición</p>
					<p class="hero-profile_tag">Active</p>
					<p class="hero-profile_tag">Title Holder</p>
				</div>
				<div class="hero-profile_division">
					<p class="hero_data">dato1</p>
					<p class="hero_data">dato2</p>
					<p class="hero_data">dato3</p>
					<p class="hero_data">dato4</p>
				</div>
				<div class="hero-profile_stats">
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">5</p>
						<p class="hero-profile_stat-text">Goals</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">8</p>
						<p class="hero-profile_stat-text">Assists</p>
					</div>
					<div class="hero-profile_stat">
						<p class="hero-profile_stat-numb">129</p>
						<p class="hero-profile_stat-text">Points</p>
					</div>
				</div>
				<div class="acciones_player">
					<button>Fichar</button>
				 </div>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
			</div>
		</ng-template>
	</ngb-carousel>
}