footer {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar el texto */
  }
  
  p {
    margin: 0; /* Eliminar margen superior e inferior */
    font-family: 'Arial', sans-serif; /* Fuente sans-serif */
    font-size: 14px; /* Tamaño de fuente */
  }