<div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="page-title">¿Quiénes somos?</h1>
        <hr>
      </div>
    </div>
    <div class="row align-items-center"> <!-- Ajuste para alinear verticalmente -->
      <div class="col-lg-5 mb-3">
        <span class="section-sub-title d-block">Misión</span>
        <h2 class="section-title mb-2">Nuestra misión</h2>
        <p id="info-section" class="p-3 bg-light border-start border-5 border-primary">
          <strong>Empoderar</strong> a los aficionados y participantes de ligas fantasy con herramientas avanzadas, análisis detallados y recomendaciones precisas basadas en datos, para <strong>mejorar su toma de decisiones y estrategias de juego</strong>. Nos esforzamos por ser el recurso definitivo en inteligencia deportiva, combinando tecnología de punta, machine learning y experticia en análisis deportivo para ofrecer predicciones confiables, consejos de draft y evaluaciones de jugadores. DraftGenius se dedica a innovar constantemente y a mejorar la experiencia de los usuarios, proporcionando una plataforma accesible, intuitiva y rica en información que capacita a los jugadores a dominar sus ligas y competiciones fantasy.
        </p>
      </div>
      <div class="col-lg-7">
        <div class="image-container text-center"> <!-- Ajuste para centrar la imagen si es más corta que el texto -->
          <img src="../../assets/imagenes/cohete.PNG" alt="DraftgeniousIQ2" class="img-fluid rounded">
        </div>
      </div>
    </div>
  </div>
  <section class="site-section section-2" id="vision-sect">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-5">
                <span class="section-sub-title d-block">Visión</span>
                <h2 class="section-title">Nuestra visión</h2>
                <p id="info-section"class="p-3 bg-light border-start border-5 border-primary">  En DraftGenius, <strong>nuestra visión</strong> es revolucionar el mundo de los deportes fantasy, combinando análisis profundo y tecnología avanzada para elevar tu juego en la arena global</p>
              </div><section>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up">
                      <figure class="text-center">
                        <img src="../../assets/imagenes/globalizacion.png" alt="Conectividad global" class="img-fluid" style="max-width: 60%; height: auto;">
                        <figcaption>Conectando el mundo del deporte con la vanguardia tecnológica para una experiencia fantasy sin fronteras.</figcaption>
                        <hr>
                      </figure>
                    </div>
              
                    <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <figure class="text-center">
                        <img src="../../assets/imagenes/cerebro.png" alt="Estrategia y conocimiento" class="img-fluid" style="max-width: 60%; height: auto;">
                        <figcaption>Compartiendo conocimiento, perfeccionando estrategias. Un equipo, un objetivo común.</figcaption>
                        <hr>
                      </figure>
                    </div>
              
                    <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <figure class="text-center">
                        <img src="../../assets/imagenes/trofeo.png" alt="Éxito y logro" class="img-fluid" style="max-width: 60%; height: auto;">
                        <figcaption>Ascendiendo al éxito con herramientas que llevan tu juego al nivel de campeonato.</figcaption>
                        <hr>
                      </figure>
                    </div>
                  </div>
                </div>
              </section>
              
            </div>
