<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Received notifications:</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[0]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[1]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[2]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[3]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[4]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[5]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[6]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[7]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[8]}}</p>
		</div>
		<div class="notification_row">
			<span class="material-symbols-outlined">notifications</span>
			<p>{{notifications[9]}}</p>
		</div>
		<div class="text-end">
		
		</div>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary mb-2 me-2 btn_in" (click)="openEnd(content)">
	<span class="material-symbols-outlined">notifications</span>
</button>