.btn_in{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:9px;
    color:  #4caf50;
    border-color:  #4caf50;
    padding:6px;
    margin-top: 8px;
}

.btn_in:hover {
    color: #fff; 
    background-color: #4caf50; 
}

.material-symbols-outlined {
    font-size: 40px; 
}