<h3>Soccer-field works!</h3>
<div (click)="openPopup($event)">
  <div class="soccer-field">  <div class="field">
      <div class="pitch">

        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>
        <div class="player-position"></div>

        <div class="pitch-line top"></div>  <div class="pitch-line bottom"></div> <div class="pitch-line left"></div>   <div class="pitch-line right"></div>  <div class="pitch-line center"></div> <div class="pitch-line penalty-area left"></div> <div class="pitch-line penalty-area right"></div> </div>
    </div>
  </div>
  </div>
</div>

<div class="player-position" (click)="showPlayerDetails(1)"></div>
<div class="player-position" (click)="showPlayerDetails(2)"></div>
