.container-spacing {
    margin-top: 8rem; 
    margin-bottom: 8rem; 
    padding: 2rem 0; 
}
  .italic-bold {
    font-style: italic;
    font-weight: bold;
  }
  
  
  .objective-image {
    max-height: 100px;
    border-radius: 10px; 
  }
  
 
  .central-image {
    max-height: 300px;
  }