<h1 class="text-center">Fases de la aplicación</h1>
<!-- Sección izquierda imagen, derecha texto -->
<div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col half">
          <img src="../../assets/imagenes/buscar.png" alt="Descripción de la imagen">
        </div>
        <div class="col half">
          <h3>Fase 1: Investigación y Adquisición de Datos</h3>
          <p>Iniciamos nuestro proyecto con una fase de investigación exhaustiva, donde la selección de fuentes confiables fue primordial. 
            Seleccionamos la API de Sofascore por su integridad y la calidad superior de datos que ofrece, 
            elementos esenciales para el análisis preciso en el contexto de ligas fantasy de fútbol. 
            La confiabilidad de los datos es la piedra angular de nuestro sistema y fundamenta la exactitud de 
            nuestras proyecciones y análisis.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Sección inversa: izquierda texto, derecha imagen -->
  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col half">
          <h3>Fase 2: Extracción Avanzada de Datos</h3>
          <p>Para complementar nuestra base de datos, implementamos técnicas de web scraping sofisticadas. 
            Se llevó a cabo la extracción sistemática de datos desde una cuidadosa selección de sitios web, 
            lo cual nos permitió acumular un conjunto de datos más robusto y diverso para fortalecer los análisis posteriores.</p>
        </div>
        <div class="col half">
          <img src="../../assets/imagenes/mineria.png" alt="Descripción de la imagen">
        </div>
      </div>
    </div>
  </div>

<!-- Sección izquierda imagen, derecha texto -->
<div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col half">
          <img src="../../assets/imagenes/ciencias.png" alt="Descripción de la imagen">
        </div>
        <div class="col half">
          <h3>Fase 3: Minería y Modelado de Datos</h3>
          <p>En esta etapa crucial, consolidamos los datos recolectados en varios datasets. 
            Comenzamos el proceso de minería de datos, una exploración profunda que nos permitió entender 
            las tendencias y patrones subyacentes. Tras un proceso de evaluación rigurosa, seleccionamos y 
            calibramos los modelos analíticos más prometedores, optimizándolos para nuestro uso específico. 
            Los modelos finalistas fueron elegidos por su precisión predictiva y relevancia para las necesidades de nuestros usuarios.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección inversa: izquierda texto, derecha imagen -->
  <div class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col half">
          <h3>Fase 4: Desarrollo de la Interfaz de Usuario y Pruebas</h3>
          <p>Con los modelos analíticos en su lugar, procedimos a la fase de implementación. 
            Esto incluyó el entrenamiento intensivo de los modelos con nuestro dataset de alta calidad y 
            la realización de pruebas exhaustivas para garantizar su fiabilidad. 
            Paralelamente, nos dedicamos a la creación de una primera interfaz de usuario algo primitiva, 
            diseñada para facilitar el acceso a nuestros análisis.</p>
        </div>
        <div class="col half">
          <img src="../../assets/imagenes/escritorio.png" alt="Descripción de la imagen">
        </div>
      </div>
    </div>
  </div>

<!-- Sección izquierda imagen, derecha texto -->
<div class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col half">
        <img src="../../assets/imagenes/trabajo-en-progreso.png" alt="Descripción de la imagen">
      </div>
      <div class="col half">
        <h3>Fase Actual: Desarrollo de la Estructura de Base de Datos y Diseño de la Interfaz Preliminar</h3>
        <p>Nos encontramos en una fase decisiva de nuestro proyecto que implica el diseño meticuloso de la estructura de la base de datos 
          (BD) y el establecimiento de una interfaz de usuario básica. Nuestro objetivo es crear una infraestructura robusta que 
           soporte eficientemente la recolección, almacenamiento y recuperación de datos analíticos.</p>
      </div>
    </div>
  </div>
</div>