<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">My user information</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p class="titulo">Mi usuario: <span class="titulo_value">{{ users.name[0] }}</span></p>
		<p class="titulo">Email:  <span class="titulo_value">{{users.email[0]}}</span></p>
		<div class="psw">
			<p class="titulo">Contraseña:  <span class="titulo_value">{{users.psw[0]}}</span></p>
		<button (click)="alternarMostrarContrasena()">
			<span class="material-symbols-outlined hidepsw">password</span>
		</button>
		</div>
		<button (click)="actualizarContrasena()" class="btn_change_psw">Actualizar contraseña</button>
		
		<div class="text-end text-endf">
			<a routerLink="/landing-page" (click)="offcanvas.close('Close click')" (click)="cambiarVisibilidadMenu()" class="btn btn-outline-dark">Log out</a>
		</div>
	</div>
</ng-template>
<div class="text-end">
</div>
	
<button class="btn btn-lg btn-outline-primary mb-2 me-2 btn_in" (click)="openEnd(content)">
	<span class="material-symbols-outlined">person</span>
</button>