.btn_in{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px;
    margin-top: 8px;
    color: antiquewhite;
    background-color: #0d6efd;;
}
// #4caf50;

.material-symbols-outlined {
    font-size: 35px; 
}