.money{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #f0f0f0;

    .material-symbols-outlined {
        font-size: 20px;
        color: #f0f0f0;
        text-decoration: none;
    }
  }

.money_value{
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}

.dropdown-toggle {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1px;
    padding-top: 3px; /* Relleno de 10 píxeles en la parte superior */
    padding-right: 10px; /* Relleno de 20 píxeles en el lado derecho */
    padding-bottom: 3px; /* Relleno de 10 píxeles en la parte inferior */
    padding-left: 10px; 
}
