<section class="pricing-background">
  <div class="container py-5">
    <header class="text-center mb-5 text-white">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>Planes</h1>
          <p>Elige el que mejor se adapte a tus necesidades.&nbsp;<br></p>
        </div>
      </div>
    </header>
    <div class="row text-center align-items-end justify-content-center">
      <div class="col-lg-4 mb-5 mb-lg-0 ">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Básico</h1>
          <h2 class="h1 font-weight-bold">0€<span class="text-small font-weight-normal ml-2"> /mes</span></h2>
          <div class="custom-separator my-4 mx-auto bg-primary"></div>
          <ul class="list-unstyled my-5 text-small text-left">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Acceso limitado a estadísticas de los jugadores.</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Acceso básico a pronósticos y recomendaciones.</li>
            <li class="mb-3 text-muted">
              <i class="fa fa-check mr-2 text-primary"></i>
                <del>Soporte directo y prioritario.</del>
               </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Informes de rendimiento y progreso personalizado para tu equipo.</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Actualizaciones de datos en tiempo real.</del>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">¡Suscríbete ya!</a>
        </div>
      </div>
      <!-- END -->
      <!-- Pricing Table-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
          <h2 class="h1 font-weight-bold">20€<span class="text-small font-weight-normal ml-2"> /mes</span></h2>
          <div class="custom-separator my-4 mx-auto bg-primary"></div>
          <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Acceso ilimitado a todas las estadísticas avanzadas de los jugadores.</li>
            <li class="mb-3">

              <i class="fa fa-check mr-2 text-primary"></i> Soporte directo y prioritario.</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Funciones de personalización de la interfaz de usuario.</li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Informes de rendimiento y progreso personalizado para tu equipo.</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Actualizaciones de datos en tiempo real.</li>
          </ul>
          <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">¡Suscríbete ya!</a>
        </div>
      </div>
    </div>
  </div>
</section>