<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="container">
    <div class="logo">
        <img src="../../assets/imagenes/draftgeniousIQ2_logo.png" alt="Tu Logo">
    </div>
    <nav>
        <div class="navOpctios">
            <span class="material-symbols-outlined">sports_soccer</span>
            <a href="#">Application</a>
        </div>
        <div class="navOpctios">
            <span class="material-symbols-outlined">payments</span>
            <a href="#">Pricing</a>
        </div>
        <div class="navOpctios">
            <span class="material-symbols-outlined">description</span>
            <a href="#">Documentation</a>
        </div>
        <div class="navOpctios">
            <span class="material-symbols-outlined">download_for_offline</span>
            <a href="#">Download</a>
        </div>
           
        <div class="navOpctios">
            <span class="material-symbols-outlined">group</span>
            <a href="#">Abaut us</a>
        </div>
    </nav>
    <div class="user-actions">
        <button class="login-button">Login</button>
        <button class="register-button">Register</button>
    </div>
</div>