<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div *ngIf="sharedDataMenuVisibleService.menuVisible" class="main_menu">
    <div class="logo">
        <img src="../../assets/imagenes/draftgeniousIQ2_logo.png" alt="DraftgeniousIQ2">
    </div>
    <nav>
        <div class="navOpctios">
            <span class="material-symbols-outlined">sports_soccer</span>
            <a routerLink="/application">Application</a>
        </div>
        <div class="navOpctios">
            <span class="material-symbols-outlined">payments</span>
            <a routerLink="/pricing">Pricing</a>
        </div> 
        <div class="navOpctios">
            <span class="material-symbols-outlined">description</span>
            <a routerLink="/documentation">Documentation</a>
        </div>
        <div class="navOpctios">
            <span class="material-symbols-outlined">download_for_offline</span>
            <a routerLink="/download">Download</a>
        </div>
           
        <div class="navOpctios">
            <span class="material-symbols-outlined">group</span>
            <a routerLink="/about_us">About_us</a>
        </div>
    </nav>
    <div class="user-actions">
        <a routerLink="/login" class="login-button" (click)="ocultarMenu()">Login</a>
        <a routerLink="/register" class="login-button" (click)="ocultarMenu()">Register</a>
    </div>
</div>

<router-outlet></router-outlet>