<div class="scroll imgBox" style="--time:20s">
    <div class="content_scrolling">
        <img src="../../assets/teams/1.png">
        <p>1-0</p>
        <img src="../../assets/teams/2.png">

        <img src="../../assets/teams/3.png">
        <p>1-0</p>
        <img src="../../assets/teams/4.png">

        <img src="../../assets/teams/5.png">
        <p>1-0</p>
        <img src="../../assets/teams/6.png">

        <img src="../../assets/teams/7.png">
        <p>1-0</p>
        <img src="../../assets/teams/8.png">

        <img src="../../assets/teams/9.png">
        <p>1-0</p>
        <img src="../../assets/teams/10.png">

        <img src="../../assets/teams/11.png">
        <p>1-0</p>
        <img src="../../assets/teams/12.png">

        <img src="../../assets/teams/13.png">
        <p>1-0</p>
        <img src="../../assets/teams/14.png">

        <img src="../../assets/teams/15.png">
        <p>1-0</p>
        <img src="../../assets/teams/16.png">

        <img src="../../assets/teams/17.png">
        <p>1-0</p>
        <img src="../../assets/teams/18.png">

        <img src="../../assets/teams/19.png">
        <p>1-0</p>
        <img src="../../assets/teams/20.png">

        <img src="../../assets/imagenes/draftgeniousIQ2_logo.png">
    </div>
    <div class="content_scrolling">
        <img src="../../assets/teams/1.png">
        <p>1-0</p>
        <img src="../../assets/teams/2.png">

        <img src="../../assets/teams/3.png">
        <p>1-0</p>
        <img src="../../assets/teams/4.png">

        <img src="../../assets/teams/5.png">
        <p>1-0</p>
        <img src="../../assets/teams/6.png">

        <img src="../../assets/teams/7.png">
        <p>1-0</p>
        <img src="../../assets/teams/8.png">

        <img src="../../assets/teams/9.png">
        <p>1-0</p>
        <img src="../../assets/teams/10.png">

        <img src="../../assets/teams/11.png">
        <p>1-0</p>
        <img src="../../assets/teams/12.png">

        <img src="../../assets/teams/13.png">
        <p>1-0</p>
        <img src="../../assets/teams/14.png">

        <img src="../../assets/teams/15.png">
        <p>1-0</p>
        <img src="../../assets/teams/16.png">

        <img src="../../assets/teams/17.png">
        <p>1-0</p>
        <img src="../../assets/teams/18.png">

        <img src="../../assets/teams/19.png">
        <p>1-0</p>
        <img src="../../assets/teams/20.png">

        <img src="../../assets/imagenes/draftgeniousIQ2_logo.png">
    </div>
</div>


<!--
<div class="scroll" style="--time:20s">
<div class="scroll" style="--time:40s">
-->
<!--
<div class="scroll" style="--time:30s">
    <div>
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>ReactJS</span>
        <span>Figma</span>
        <span>Photoshop</span>
        <span>Premiere Pro</span>
        <span>Figma</span>
        <span>Angular</span>
        <span>Node JS</span>
    </div>
    <div>
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>ReactJS</span>
        <span>Figma</span>
        <span>Photoshop</span>
        <span>Premiere Pro</span>
        <span>Figma</span>
        <span>Angular</span>
        <span>Node JS</span>
    </div>
</div>
-->