* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1px;
}

.scroll {
    display: flex;
    width: 100%;
    background-color:rgb(0, 0, 0);
    border-bottom: 1px solid white;
    overflow: hidden;
    //-webkit-mask-image: linear-gradient(90deg, transparent, #000000 10%, #000000 90%, transparent)    
}

.content_scrolling{

    p{
        color: aliceblue;
        font-size: 25px;
    }

    img{
      width: 53px;
      height: 53px;
      padding: 4px;
    }

    .event_start{
        margin-left: 15px;
    }

    .event_end{
        margin-right: 15px;
    }

    .logo{
        margin-left: 55px;
        margin-right: 55px;
        height: 26;
        width: 150px;
    }

}
.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background: #40ff06;
    cursor: pointer;
}

.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    max-width: 100px;
    scale: 0.8;
}