<div class="scroll imgBox" style="--time:50s">
    <div class="content_scrolling">
        <img [src]="imageSources[0]"  class="event_start" alt="">
        <p>{{ resultados[0]}}</p>
        <img [src]="imageSources[1]"  class="event_end" alt="">

        <img [src]="imageSources[2]"  class="event_start" alt="">
        <p>{{ resultados[1]}}</p>
        <img [src]="imageSources[3]"  class="event_end" alt="">

        <img [src]="imageSources[4]"  class="event_start" alt="">
        <p>{{ resultados[2]}}</p>
        <img [src]="imageSources[5]"  class="event_end" alt="">

        <img [src]="imageSources[6]"  class="event_start" alt="">
        <p>{{ resultados[2]}}</p>
        <img [src]="imageSources[7]"  class="event_end" alt="">

        <img [src]="imageSources[8]"  class="event_start" alt="">
        <p>{{ resultados[4]}}</p>
        <img [src]="imageSources[9]"  class="event_end" alt="">

        <img [src]="imageSources[10]"  class="event_start" alt="">"
        <p>{{ resultados[5]}}</p>
        <img [src]="imageSources[11]"  class="event_end" alt="">

        <img [src]="imageSources[12]"  class="event_start" alt="">"
        <p>{{ resultados[6]}}</p>
        <img [src]="imageSources[13]"  class="event_end" alt="">

        <img [src]="imageSources[14]"  class="event_start" alt="">"
        <p>{{ resultados[7]}}</p>
        <img [src]="imageSources[15]"  class="event_end" alt="">

        <img [src]="imageSources[16]"  class="event_start" alt="">"
        <p>{{ resultados[8]}}</p>
        <img [src]="imageSources[17]"  class="event_end" alt="">

        <img [src]="imageSources[18]"  class="event_start" alt="">"
        <p>{{ resultados[9]}}</p>
        <img [src]="imageSources[19]"  class="event_end" alt="">

    </div>
    <div class="content_scrolling">
        <img [src]="imageSources[0]"  class="event_start" alt="">
        <p>{{ resultados[0]}}</p>
        <img [src]="imageSources[1]"  class="event_end" alt="">

        <img [src]="imageSources[2]"  class="event_start" alt="">
        <p>{{ resultados[1]}}</p>
        <img [src]="imageSources[3]"  class="event_end" alt="">

        <img [src]="imageSources[4]"  class="event_start" alt="">
        <p>{{ resultados[2]}}</p>
        <img [src]="imageSources[5]"  class="event_end" alt="">

        <img [src]="imageSources[6]"  class="event_start" alt="">
        <p>{{ resultados[3]}}</p>
        <img [src]="imageSources[7]"  class="event_end" alt="">

        <img [src]="imageSources[8]"  class="event_start" alt="">
        <p>{{ resultados[4]}}</p>
        <img [src]="imageSources[9]"  class="event_end" alt="">

        <img [src]="imageSources[10]"  class="event_start" alt="">"
        <p>{{ resultados[5]}}</p>
        <img [src]="imageSources[11]"  class="event_end" alt="">

        <img [src]="imageSources[12]"  class="event_start" alt="">
        <p>{{ resultados[6]}}</p>
        <img [src]="imageSources[13]"  class="event_end" alt="">"
        
        <img [src]="imageSources[14]"  class="event_start" alt="">
        <p>{{ resultados[7]}}</p>
        <img [src]="imageSources[15]"  class="event_end" alt="">"
        
        <img [src]="imageSources[16]"  class="event_start" alt="">
        <p>{{ resultados[8]}}</p>
        <img [src]="imageSources[17]"  class="event_end" alt="">"

        <img [src]="imageSources[18]"  class="event_start" alt="">
        <p>{{ resultados[9]}}</p>
        <img [src]="imageSources[19]"  class="event_end" alt="">"

    </div>
</div>

<!--
<div class="scroll" style="--time:20s">
<div class="scroll" style="--time:40s">
-->
<!--
<div class="scroll" style="--time:30s">
    <div>
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>ReactJS</span>
        <span>Figma</span>
        <span>Photoshop</span>
        <span>Premiere Pro</span>
        <span>Figma</span>
        <span>Angular</span>
        <span>Node JS</span>
    </div>
    <div>
        <span>HTML</span>
        <span>CSS</span>
        <span>JavaScript</span>
        <span>ReactJS</span>
        <span>Figma</span>
        <span>Photoshop</span>
        <span>Premiere Pro</span>
        <span>Figma</span>
        <span>Angular</span>
        <span>Node JS</span>
    </div>
</div>
-->