<div class="main_menu">
    <div class="logo">
        <img src="../../assets/imagenes/draftgeniousIQ2_logo.png" alt="DraftgeniousIQ2">
    </div>

    <div class="user-actions">
        <div class="money">
            <a href="#" class="money">{{ money_bank }}</a>
            <span class="material-symbols-outlined">euro</span>
        </div>
        <div class="icons_UN">
            <btn-desplegable-notificaciones></btn-desplegable-notificaciones>
            <ngbd-offcanvas-options></ngbd-offcanvas-options>
        </div>
    </div>
</div>