.container {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
  }
  
  .logo img {
    width: 155px;
    height: 55px;
  }
  
  .material-symbols-outlined {
    margin-right: 3px;
    font-variation-settings: 'FILL' 0, 'wght' 800, 'GRAD' 0, 'opsz' 88;
  }
  
  .navOpctios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
    flex-wrap: wrap;
    transition: color 0.3s;
  
    &:hover {
      background-color: #f0f0f0;
      padding: 3px;
      border-radius: 3px;
  
      .material-symbols-outlined,
      a {
        color: black;
      }
    }
  }

  .money{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a{
        color: #f0f0f0;
        text-decoration: none;
        font-size: 20px;
    }
  }
  
  .user-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
  }
  
  @media screen and (max-width: 1000px) {
    /* Estilos para pantallas más pequeñas */
    .container {
      flex-direction: column;
      align-items: center;     
      justify-content: center; 
    }

    .user-actions{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      margin-top: 15px;
    }
    .user-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  
      button {
        margin-bottom: 10px;
      }
    }
  }