<div class="hero-profile">
    <div class="hero-profile_image">
        <img src="../../assets/players/bellingham.png" alt="Jude Bellingham">
    </div>

    <div class="hero-profile_info">
        <h1 class="hero-profile_name">Jude bellingham</h1>
        
        <div class="hero-profile_tags">
            <p class="hero-profile_tag">Eqipo</p>
            <p class="hero-profile_tag">Posición</p>
            <p class="hero-profile_tag">Active</p>
            <p class="hero-profile_tag">Title Holder</p>
        </div>
        
        
        <div class="hero-profile_division">
            <p class="hero_data">dato1</p>
            <p class="hero_data">dato2</p>
            <p class="hero_data">dato3</p>
            <p class="hero_data">dato4</p>
        </div>

        <div class="hero-profile_stats">
            <div class="hero-profile_stat">
                <p class="hero-profile_stat-numb">5</p>
                <p class="hero-profile_stat-text">Goals</p>
            </div>
            <div class="hero-profile_stat">
                <p class="hero-profile_stat-numb">8</p>
                <p class="hero-profile_stat-text">Assists</p>
            </div>
            <div class="hero-profile_stat">
                <p class="hero-profile_stat-numb">129</p>
                <p class="hero-profile_stat-text">Points</p>
            </div>
        </div>
        
        <div class="acciones_player">
           <button>Fichar</button>
        </div>
        
    <!--</div>
    <div>
        <iframe width="360" height="215" src="https://www.youtube.com/embed/HldrSjAtnK4?si=8ee70WnUvzg39-Th&amp;controls=0&amp;start=9&amp;autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    -->
</div>