<div class="download-component download-background">
    <div class="icon-container">
        <img src="../../assets/imagenes/bandeja-de-entrada.png" alt="Descripción de la imagen">
      <i class="tu-clase-icono"></i>
    </div>
    <div class="text-and-button-container">
      <div class="text-container">
        <p>Estamos encantados de ofrecer el acceso directo al repositorio de GitHub de la fase actual de nuestro proyecto. 
            Este repositorio contiene el trabajo en curso relacionado con la estructura de la base de datos y la interfaz 
            de usuario que estamos construyendo. Al descargar este proyecto, obtendrás una visión profunda de nuestro progreso</p>
      </div>
      <div class="button-container">
        <a href="https://github.com/guti10x/DraftGeniousIQ2/archive/refs/heads/main.zip" class="download-button" download>¡DESCÁRGALO!</a>
      </div>
    </div>
  </div>
  